 <!-- Footer Template -->
 <footer>
    <div class="footer-container">

        <div class="logo-design">
            <img src="assets/fll_logo_design.svg" alt="">
        </div>

        <div class="right">

            <div class="quicklinks-1">
                <a href="">About Us</a>
                <a href="">Contact Us</a>
                <a href="">Supply Form</a>
            </div>

            <div class="quicklinks-2">
                <a href="">FAQs</a>
                <a href="">Privacy Policy</a>
                <a href="">Join Us</a>
            </div>

            <div class="newsletter">
                <form action="action.php">
                    <legend>Subscribe to our newsletter</legend>

                    <input type="email" name="email" id="email" placeholder="Email">

                    <br>

                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>

    </div>

    <div class="copyright">
        <p>© 2023 Food For All. All rights reserved</p>
    </div>
</footer>
<!-- Footer Template -->