  <!-- Nav Template -->
  <header>


    <div class="sticky-header">

        <!-- Logo -->
        <div class="logo">
            <img src="../static/assets/ffl_logo.svg" alt="">
        </div>

        <!-- Navigation  -->
        <div class="nav-bar">
            <nav>
                <ul>
                    <li><a href="#section2">About Us</a></li>
                    <li><a href="">Menu</a></li>
                    <li><a href="contact-us.html">Contact Us</a></li>
                    <li><a href=""><img src="assets/search.svg" alt=""></a></li>
                    <li><a href=""><img src="assets/user_icon.svg" alt="" class="user"></a></li>
                </ul>
            </nav>
        </div>

    </div>

</header>
<!-- Nav Template -->